@model ContainerRollingUpdate.Models.ServerDatails

<ul>
    <li>Application: @Model.AppName</li>
    <li>Version: @Model.AppVersion</li>
    <li>Time: @Model.Time</li>
    <li>Server: @Model.Server</li>
    <li>OS: @Model.OS</li>
</ul>

